<!DOCTYPE html>
<html>
    <head>
        <title>6_nodejs</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="mycustom.css"/> -->
    </head>
    <body>
        <div class="container">

            <div class="jumbotron">
                <h1>NodeJs page</h1>
                <p>
                    This is an example of a Nodejs template.
                </p>
            </div>
            <div>
                <a class="btn btn-link" href="/weather">Weather</a>
                <a class="btn btn-link" href="/news">News</a>
            </div>

            <!--BODY-->

            <div class="text-center">
                <p>
                    This is just a site to show some javascript
                    and templating at the server.
                </p>
            </div>
        </div>

    </body>
</html>
