<div>
  <h3><!--PAGE--></h3>
  <div class="btn-group">
    <a class="btn btn-outline-primary" href="/<!--PAGE-->/yesterday">Yesterday</a>
    <a class="btn btn-outline-primary" href="/<!--PAGE-->/today">Today</a>
    <a class="btn btn-outline-primary" href="/<!--PAGE-->/tomorrow">Tomorrow</a>
  </div>
  <p>
    <!--VALUE-->
  </p>
</div>
